# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local environment variables and keys
.env
.env.*
*.local

# Heavy Satellite Imagery & Datasets (never push large files directly to normal Git)
data/
*.tif
*.tiff
*.nc
*.h5
*.hdf5
*.parquet

# Deep Learning weights
*.pth
*.pt
*.onnx
*.weights

# IDEs & System files
.vscode/
.idea/
.DS_Store
*.log
